<settings>
<profiles>
  <profile>
    <id>default</id>
    <repositories>
      <repository>
        <id>github</id>
        <url>https://github.com/johngrantham/aws-connectedcar-java-core</url>
      </repository>
    </repositories>
  </profile>
  </profiles>
  <activeProfiles>
      <activeProfile>default</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>github</id>
      <username>${env.SERVER_USERNAME}</username>
      <password>${env.SERVER_PASSWORD}</password>
    </server>
  </servers>
</settings> 