<settings>
  <servers>
    <server>
      <id>github</id>
      <configuration>
		    <httpHeaders>
		      <property>
			      <name>Authorization</name>
			      <value>Bearer ${env.TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings> 